In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [10]:
store_data = pd.read_csv('E:/Personal/Data Science/Python/Data Sets/store_data.csv', header = None)

In [11]:
store_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
store_data.shape

(7501, 20)

In [13]:
# conveting the pandas df into a list of lists as apriori works on list of lists
records = []
for i in range(7501):
    records.append([str(store_data.values[i,j]) for j in range(20)])

In [15]:
records[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [16]:
# building first apriori model
association_rules = apriori(records, min_support = 0.0045, min_confidence = 0.2, min_lift = 3 , min_length = 2)
association_results = list(association_rules)

In [17]:
# getting the number of rules
print(len(association_results))

48

In [18]:
# first rule
print(association_results[0])

RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])

In [19]:
# second rule
print(association_results[1])

RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])

In [20]:
# building second apriori model
association_rules = apriori(records, min_support = 0.010, min_confidence = 0.5, min_lift = 2)
association_results = list(association_rules)

In [21]:
# getting the number of rules
print(len(association_results))

4

In [22]:
# first rule
print(association_results[0])

RelationRecord(items=frozenset({'ground beef', 'mineral water', 'eggs'}), support=0.010131982402346354, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef', 'eggs'}), items_add=frozenset({'mineral water'}), confidence=0.5066666666666667, lift=2.125563012677107)])

In [23]:
# second rule
print(association_results[1])

RelationRecord(items=frozenset({'ground beef', 'mineral water', 'milk'}), support=0.011065191307825623, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef', 'milk'}), items_add=frozenset({'mineral water'}), confidence=0.503030303030303, lift=2.1103077757440176)])